.container {
    width: 100%;
    height: 55rem;
    background-color: rgb(120, 53, 15);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    justify-content: center;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    z-index: 9;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 90rem;
    height: 45rem;
}

.content {
    position: relative;
    z-index: 999;
    width: 80rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0);
}

.circle {
    position: absolute;
    z-index: 9999;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 5px solid rgb(163, 230, 53);
    background: none;
    opacity: 0;
    animation: opacityAni ease-in-out 1s forwards;
}

.circle:hover {
    cursor: pointer;
}

@keyframes opacityAni {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.popup {
    position: absolute;
    z-index: 99999;
    width: 75rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    animation: opacityAni ease-in-out 1.5s forwards;
}

.box {
    width: 75rem;
    height: 24rem;
}

.photo2 {
    width: 22rem;
    height: 24rem;
}

.box2 {
    width: 75rem;
    text-align: center;
    margin-bottom: 3rem;
}

.number {
    font-size: 100px;
    font-weight: 600;
    color: white;
    margin: 0;
}

.text {
    font-size: 55px;
    font-weight: 600;
    color: white;
    margin: 0;
}

@media screen and (max-width: 1497px) {
    .photo {
        width: 100%;
        height: 40rem;
    }

    .content {
        width: 60rem;
        height: 40rem;
    }

    .popup {
        width: 20rem;
        height: 40rem;
    }

    .box {
        width: 65rem;
    }
}

@media screen and (max-width: 1125px) {
    .content {
        width: 80rem;
        height: 10rem;
    }

    .popup {
        width: 5rem;
        height: 40rem;
    }

    .box {
        width: 40rem;
        display: flex;
        justify-content: center;
    }

    .box2 {
        width: auto;
    }


    .number {
        font-size: 70px;
    }

    .text {
        font-size: 40px;
    }
}