.nav {
    width: 80%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 50%;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    color: rgb(120, 53, 15);
}

.right {
    width: 50rem;
    margin-top: 1rem;
}

.ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.li {
    list-style: none;
}

.link {
    text-decoration: none;
    font-size: 16.5px;
    font-weight: 600;
    color: rgb(120, 53, 15);
}

.signUp {
    border: 2px solid rgb(120, 53, 15);
    border-radius: 10px;
    padding: 1rem;
}

.bars {
    display: none;
}

@media screen and (max-width: 1440px) {
    .right {
        width: 70rem;
    }
}

@media screen and (max-width: 1024px) {
    .right {
        display: none;
    }

    .bars {
        width: auto;
        height: auto;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        background: none;
        border: none;
    }

    .btn:hover {
        cursor: pointer;
    }

    .icon {
        font-size: 25px;
        color: rgb(120, 53, 15);
    }
}